.advantages {
  padding-top: 9.8rem;
  padding-bottom: 10rem;
    
  @media screen and (max-width: @screen-lg) {
    padding-top: 3.3rem;
    padding-bottom: 0;
  }
    
  @media screen and (max-width: @screen-md) {
    padding-bottom: 0;
    padding-top: 9.8rem;
  }
    
  @media screen and (max-width: @screen-sm) {
    padding-top: 8.6rem
  }
  
  &__wrapper {
    display: flex;
    
    @media screen and (max-width: @screen-lg) {
      flex-direction: column;
    }
  }
  
  &__header {
    color: #132437;
    font-size: 4rem;
    font-weight: 300;
    line-height: 5rem;
    width: 38rem;
    margin-right: 7.6rem;
    
    @media screen and (max-width: @screen-lg) {
      width: 100%;
      margin-bottom: 7.5rem;
      
      br {
        display: none;
      }
    }
    
    @media screen and (max-width: @screen-md) {
      text-align: center;
    }
    
    @media screen and (max-width: @screen-sm) {
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin-bottom: 2.3rem;
    }
  }
  
  &__list {
    flex: 1;
    padding-right: 8rem;
    padding-top: 1.2rem;
    
    @media screen and (max-width: @screen-lg) {
      padding-right: 0;
      padding-top: 0;
    }
  }
  
  &__row {
    display: flex;
    justify-content: space-between;
    
    @media screen and (max-width: @screen-lg) {
      justify-content: flex-end;
    }
    
    @media screen and (max-width: 1199px) {
      justify-content: space-between;
    }
    
    @media screen and (max-width: @screen-sm) {
      flex-direction: column;
      align-items: center;
    }
    
    &+& {
      margin-top: 8.5rem;
    
      @media screen and (max-width: @screen-lg) {
        margin-top: 3.9rem;
      }
    
      @media screen and (max-width: @screen-md) {
        margin-top: 5.2rem;
      }
    
      @media screen and (max-width: @screen-sm) {
        margin-top: 3rem;
      }
    }
  }
}