.advantages-item {
  display: flex;
    
  @media screen and (max-width: @screen-sm) {
    flex-direction: column;
    align-items: center;
  }
  
  &+& {
    margin-left: 5rem;
    
    @media screen and (max-width: @screen-lg) {
      margin-left: 8.2rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      margin-left: 0;
      margin-top: 1.5rem;
    }
  }
  
  &__icon {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 1.3rem 3.8rem rgba(0, 0, 0, 0.06);
    flex: 0 0 auto;
    
    &--notebook {
      background: #fff url(../img/advantage-1.svg) no-repeat center;
    }
    
    &--database {
      background: #fff url(../img/advantage-2.svg) no-repeat center;
    }
    
    &--contracts {
      background: #fff url(../img/advantage-3.svg) no-repeat center;
    }
    
    &--members {
      background: #fff url(../img/advantage-4.svg) no-repeat center;
    }
    
    &--pdf {
      background: #fff url(../img/advantage-5.svg) no-repeat center;
    }
    
    &--calendar {
      background: #fff url(../img/advantage-6.svg) no-repeat center;
    }
  }
  
  &__content {
    margin-left: 2.7rem;
    max-width: 35rem;
    margin-top: 3.5rem;
    
    @media screen and (max-width: @screen-lg) {
      max-width: 27rem;
    }
    
    @media screen and (max-width: @screen-md) {
      max-width: 29rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      margin-left: 0;
      margin-top: 2.4rem;
      max-width: none;
    }
  }
  
  &__header {
    color: #132437;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    
    @media screen and (max-width: @screen-sm) {
      text-align: center;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  
  &__dscr {
    opacity: .7;
    color: #192a3e;
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-top: .5rem;
    
    @media screen and (max-width: @screen-sm) {
      line-height: 2.2rem;
      margin-top: .9rem
    }
  }
  
  &--line {
    
    &:before {
      content: '';
      display: block;
      width: .1rem;
      background: #e6e7e8;
      position: absolute;
      margin-left: 5rem;
      top: 0;
      height: 100%;
      z-index: -1;
    
      @media screen and (max-width: 1199px) {
        display: none;
      }
    }
  }
}