.button {
  height: 4.5rem;
  padding: 0 1.9rem;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
  text-align: center;
  line-height: 4.5rem;
  border-radius: .2rem;
  background: #fff;
  box-shadow: 0 .6rem 1.6rem rgba(120, 28, 0, 0.14);
  text-decoration: none;
  border: 0;
  .transition;
  cursor: pointer;
  
  &:hover {
    background: #e43959;
    color: #fff;
  }
  
  &--dark {
    background: #8560a8;
    color: #fff;
    
    &:hover {
      background: #714998;
    }
  }
}
