.footer {
  position: relative;
  top: -4.7rem;
  padding-bottom: 3.5rem;
    
  @media screen and (max-width: @screen-lg) {
    top: -2.3rem;
  }
    
  @media screen and (max-width: @screen-md) {
    top: -7.3rem;
  }
    
  @media screen and (max-width: @screen-sm) {
    top: auto;
    margin-top: 5rem;
  }
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__message {
    opacity: .7;
    color: #192a3e;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    
    @media screen and (max-width: @screen-sm) {
      br {
        display: none;
      }
    }
  }
  
  &__developer {
    margin-top: 5.3rem;
    color: #192a3e;
    font-size: 1.6rem;
    text-align: center;
    
    @media screen and (max-width: @screen-lg) {
      margin-top: 5rem;
    }
  }
  
  &__developer-link {
    color: #192a3e;
    
    &:hover {
      text-decoration: none;
    }
  }
}