.form-start {
  display: flex;
  align-items: center;
    
  @media screen and (max-width: @screen-sm) {
    flex-direction: column;
    width: 100%;
  }
  
  &__button {
    margin-left: 2.9rem;
    
    @media screen and (max-width: @screen-sm) {
      width: 100%;
      margin-left: 0;
      margin-top: 2.2rem;
    }
  }
}
