.front {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 25rem;
  background: url(../img/front-bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
    
  @media screen and (max-width: @screen-md) {
    padding-bottom: 58.2rem;
    overflow: visible;
  }
    
  @media screen and (max-width: @screen-sm) {
    padding-bottom: 40.5rem;
    padding-top: 4rem;
  }
  
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/map.png) no-repeat 0 10.4rem;

    .retina({
      background: url(../img/map@2x.png) no-repeat 0 10.4rem;
    });
  }
  
  &__wrapper {
    
  }
  
  &__content {
    padding-top: 8.5rem;
    z-index: 2;
    position: relative;
    max-width: 63rem;
    
    @media screen and (max-width: @screen-md) {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  &__header {
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: .28rem;
    
    @media screen and (max-width: @screen-sm) {
      font-size: 4rem;
      line-height: 4.5rem;
      text-align: center;
    }
  }
  
  &__subheader {
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    margin: 0 0 4.8rem;
    
    @media screen and (max-width: @screen-md) {
      margin-bottom: 3rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
      margin-top: .6rem;
      margin-bottom: .5rem;
    }
  }
  
  &__subheader-cursive {
    font-family: @font-second;
    font-style: italic;
  }
  
  &__dscr {
    color: #fff;
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 5.3rem;
    max-width: 46rem;
    
    @media screen and (max-width: @screen-md) {
      text-align: center;
      max-width: 56rem;
    }
    
    @media screen and (max-width: @screen-sm) {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 3.2rem;
    }
  }
  
  &__tablet {
    width: 102.8rem;
    height: 58.1rem;
    background: url(../img/tablet.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 46.5%;
    top: 11.7rem;
    z-index: 1;

    .retina({
      background: url(../img/tablet@2x.png) no-repeat;
      background-size: contain;
    });
    
    @media screen and (max-width: @screen-lg) {
      left: 54%;
      top: 13.6rem;
    }
    
    @media screen and (max-width: @screen-md) {
      bottom: -7.2rem;
      left: auto;
      top: auto;
      right: 0;
      background-position: 4.4rem 0;
    }
    
    @media screen and (max-width: @screen-sm) {
      bottom: -6.8rem;
      width: 100%;
      height: 42.8rem;
      background-size: cover;
      background-position: left top;
    }
    
    @media screen and (max-width: @screen-xs) {
      background-position: left -5.5rem top;
    }
  }
}