.header {
  padding-top: 3.2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__user {
    display: flex;
    align-items: center;
  }
  
  &__link {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 2rem;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}