.input {
  width: 47.1rem;
  height: 4.5rem;
  box-shadow: 0 .6rem 1.6rem rgba(120, 28, 0, 0.3);
  background: #fff;
  border-radius: .2rem;
  padding-left: 2.6rem;
  color: #132437;
  font-size: 1.6rem;
  border: 0;
  box-sizing: border-box;
  
  &:focus {
    outline: none;
  }
    
  @media screen and (max-width: @screen-sm) {
    width: 100%;
    padding-left: 1.5rem;
  }
}
