.offer {
  background: url(../img/offer-bg.svg) no-repeat;
  background-size: cover;
  height: 96.9rem;
  position: relative;
  overflow: hidden;
    
  @media screen and (max-width: @screen-lg) {
    background-position: center;
  }
    
  @media screen and (max-width: @screen-md) {
    background-position: center;
  }
    
  @media screen and (max-width: @screen-sm) {
    height: 69rem;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 80%;
      background-image: linear-gradient(45deg, #e43959 0%, #ffbe85 100%);
      position: absolute;
      z-index: -1;
      transform: skewY(-10deg);
    }
  } 
    
  @media screen and (max-width: @screen-xs) {
    
    &:before {
      height: 88%;
    }
  } 
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    @media screen and (max-width: @screen-lg) {
      padding-top: 2.6rem;
    }
    
    @media screen and (max-width: @screen-md) {
      padding-top: 0;
    }
    
    @media screen and (max-width: @screen-sm) {
      
    }
  }
  
  &__icon {
    width: 5.4rem;
    height: 5.4rem;
    background: url(../img/icon-quote.svg) no-repeat;
    background-size: contain;
  }
  
  &__dscr {
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    line-height: 4.5rem;
    text-align: center;
    max-width: 85rem;
    margin: 3rem 0 5.2rem;
    
    @media screen and (max-width: @screen-sm) {
      font-size: 2.5rem;
      line-height: 3.5rem;
      margin: 4rem 0;
      
      br {
        display: none;
      }
    }
  }
}
