.wrapper {
  padding: 0 13.5rem;
  margin: 0 auto;
    
  @media screen and (max-width: @screen-md) {
    padding: 0 4.7rem;
  }
    
  @media screen and (max-width: @screen-sm) {
    padding: 0 2rem;
  }
}
