/* Bootstrap */

.row {
  display: flex;
  flex-wrap: wrap;
}


/* Validate */

label.error {
  position: absolute;
  right: 0;
  bottom: -2rem;
  font-size: 1.2rem;
  color: red;
}

.input.error {
  border-color: red;
  color: red;
}