.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.transition {
  transition: 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.retina(@rules) {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @rules();
  }
}