@color-first: #53d1ae;

@font-first: 'Proxima Nova', 'Arial', sans-serif;

@font-second: 'Palatino Linotype', 'Times New Roman', serif;

@transition: 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);


@screen-xs: 479px;
@screen-sm: 767px;
@screen-md: 1299px;
@screen-lg: 1699px;