doctype html
html(lang='en')
  include ../templates/head.pug
  
  body
    .header
      .wrapper.header__wrapper
        a.logo(href="index.html")
        .header__user
          a.header__link(href="#") Sign in
          a.button(href="#") Sign up
    .front
      .wrapper.front__wrapper
        .front__content
          h1.front__header LIGHT CRM SYSTEM
          h2.front__subheader
            span.front__subheader-cursive for 
            | Digital Service Companies
          p.front__dscr Streamline your sales just in a couple of clicks. Work calendar, invoices, personnel and customer lists, LinkedIn integration – all in one place!
          form.form.form-start(action="#", method="POST")
            input.input.form-start__input(type="email", placeholder="Your E-mail", required)
            input.button.button--dark.form-start__button(type="submit", value="Start work")
        .front__tablet
    .advantages
      .wrapper.advantages__wrapper
        h2.advantages__header Le7 Opportunities <br>Are Your Advantages!
        .advantages__list
          .advantages__row
            .advantages-item.advantages-item--line
              .advantages-item__icon.advantages-item__icon--notebook
              .advantages-item__content
                h3.advantages-item__header Handy Notebook
                p.advantages-item__dscr Keep your main contacts always with you. Add all necessary info and notes – a person’s personality, position, etc. Remember: you can convert any contact into a customer and share it with your co-worker – it takes just a few seconds. If needed, download information directly from your LinkedIn account.
            .advantages-item.advantages-item--line
              .advantages-item__icon.advantages-item__icon--database
              .advantages-item__content
                h3.advantages-item__header Organized Customer Database
                p.advantages-item__dscr Create a client table, add contacts and comments, give ratings for everyone of them. Fill in a card for every customer – attach deals and projects data, submit documents, receipts, and any other files. Customer List is also integrated with LinkedIn.
          .advantages__row
            .advantages-item
              .advantages-item__icon.advantages-item__icon--contracts
              .advantages-item__content
                h3.advantages-item__header Detailed List of Contracts
                p.advantages-item__dscr Start and work on several deals in a row. Every contract includes customers’ and participants’ contacts, relevant files, progress data and details of concluded deals.
            .advantages-item
              .advantages-item__icon.advantages-item__icon--members
              .advantages-item__content
                h3.advantages-item__header Contacts of Personnel and Team Members
                p.advantages-item__dscr Keep contact details of your colleagues all in one place or submit your CV directly from LinkedIn. Organize this information and add details concerning positions, working hours, etc.
          .advantages__row
            .advantages-item
              .advantages-item__icon.advantages-item__icon--pdf
              .advantages-item__content
                h3.advantages-item__header Simple Creation of Invoices 
                p.advantages-item__dscr Forget about bank requests and complicated specified apps. Create and monitor customer bills, save invoices in PDF right here, in your personal Le7 account.
            .advantages-item
              .advantages-item__icon.advantages-item__icon--calendar
              .advantages-item__content
                h3.advantages-item__header Classic Calendar with Notifications
                p.advantages-item__dscr Plan your business hours, add tasks and reminder notes for your personnel and corporate projects. And do not worry about missing a meeting – you will receive a notification online in your browser.
    .offer
      .wrapper.offer__wrapper
        .offer__icon
        p.offer__dscr These basic features are free. <br>Further we are planning to add work with emails, social media and online stock exchange integration.
        form.form.form-start(action="#", method="POST")
          input.input(type="email", placeholder="Your E-mail", required)
          input.button.button--dark.form-start__button(type="submit", value="Start work")
    .footer
      .wrapper.footer__wrapper
        p.footer__message Any questions or suggestions? <br>Please, contact us, we will be glad to answer <br>your questions – hello@soshace.com
        p.footer__developer Created by 
          a.footer__developer-link(href="http://soshace.com/") Soshace
    include ../templates/scripts.pug